
header {
    display: flex;
    align-items: center;
}

header img {
    height: 100px;
}

.horns {
    display: flex;
}

.horns li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    background-color: red;
    list-style: none;
}

.image-container {
    height: 50%;
}

.image-container img{
    height: 100%;
    object-fit: contain;
}